@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.arrow{
  width: 10px;
}

.myImage{
  width: 83.3vw;
}
@media (min-width: 375px){
  
  .myImage{
    width: 86.34vw;
  }
}

@media (min-width: 425px){
  
  .myImage{
    width: 87.5vw;
    height: 424px;
    object-fit: cover;
  }
}

@media (min-width: 767px){

  .myImage{
    width: 47.5vw;
    height: 304px;
    object-fit: cover;
  }

}

@media(min-width: 768px){
  .meet--ambassador{
    width: 400px;
  }
}